// main colors
$red: #d12406;
$tomato: #f25f29;
$dark-teal: #027373;
$bright-teal: #1fa88c;
$oatmeal: #f7e3bf;
$white: #ffffff;

// card colors
$blue: #00578a;
$yellow: #ffd500;
$green: #497e00;
$purple: #800080;
$orange: #ff881a;
$pink: #ff748c;
$teal: #008080;
$light-blue: #86dada;
$violet: #6c6ceb;

$card-gradient-bright: #27d3b0;
$card-gradient-dark: #1fa88c;
